<!doctype html>
<html lang="pt-br">
  
  <head>
    <!-- meta tags requeridas no Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Integração Bootstrap CSS para ficar amigável em dispositivos móveis -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- Integração Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    <!-- Integração Bootstrap Ícones para ícones do contato -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

    <!-- Customização de CSS  -->
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>

    <title>Trabalho </title>
  </head>

  <body>

      <!--  Modal Login -->
      <div class="modal fade" id="reg-modal-login" tabindex="-1" aria-labelledby="modal-title" arial-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Fechar"></button>
            </div>

            <div class="modal-body">
              <label for="modal-email" class="form-label">Seu endereço de email:</label>
              <input id="emailLogin" type="text" class="form-control" id="modal-email" placeholder="ex: seuemail@gmail.com">
              <label class="form-label">Sua senha:</label>
              <input id="senhaLogin" type="password" class="form-control">
            </div>

            <div class="modal-footer">
              <button onclick="login()" class="btn btn-primary">Acessar</button>
            </div>
           
          </div>
        </div>
      </div>

      <!-- FECHA Modal -->

      <!--  Modal cadastro -->
      <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" arial-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Faça seu Cadastro</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Fechar"></button>
            </div>

            <div class="modal-body">
              <p>Para se cadastrar preencha os campos abaixo:</p>
              <label class="form-label">Seu nome:</label>
              <input id="nome" type="text" class="form-control">
              <label for="modal-email" class="form-label">Seu endereço de email:</label>
              <input id="email" type="text" class="form-control" id="modal-email" placeholder="ex: seuemail@gmail.com">
              <label class="form-label">Sua senha:</label>
              <input id="senha1" type="password" class="form-control">
              <label class="form-label">Confirme sua senha:</label>
              <input id="senha2" type="password" class="form-control">
            </div>

            <div class="modal-footer">
              <button class="btn btn-primary" onclick="cadastroRegistration()">Cadastrar</button>
            </div>
           
          </div>
        </div>
      </div>

      <!-- FECHA Modal -->

      
      <!-- ABRE MENU -->
     
      <nav class="navbar navbar-expand-lg"> 
        <div class="container-fluid">
          <div class="centraliza-menu">
            <a class="navbar-brand" href="#">Xeparia</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                  <a class="nav-link" href="#produtos">Produtos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ajuda">Ajuda</a>
      
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-bs-target="#reg-modal" class="btn btn-primary" data-bs-toggle="modal">Cadastro</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="" data-bs-target="#reg-modal-login" class="btn btn-primary" data-bs-toggle="modal">Login</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="" aria-label="">
                <button class="btn btn-outline-success" type="submit">Pesquisar</button>
              </form>
            </div>
          </div>
        </div>
      </nav> 
      <!-- FECHA MENU -->

    <div class="container"> <!-- abre container geral -->
      <div class="container"> <!-- abre container destaque -->
        <div class="separador"></div>
        <div class="destaque">
          <div class="row">
            
            <!-- abre carrosel -->
            <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./imagens/frutas_verduras-slide.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Frutas e Verduras</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="./imagens/padaria-slide-2.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Padarias</h3>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="./imagens/carnes-slide-3.jpg" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Carnes</h3>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- fecha carrosel -->

            <div class="container-md"><h2>COMA BEM PAGANDO POUCO</h2>
              <p>Muitos produtos perecíveis acabam estragando por estar com sua validade vencida. A Xeparia ajuda a reduzir essa perda auxiliando os estabelecimentos a vender produtos perto de seu vencimento e também os consumidores a economizar com produtos de qualidade. 
              </p>
            </div>
          </div>
        </div>
      </div><!-- fecha container destaque -->
     

      <!-- ABRE SEÇÃO PRODUTOS-->
      <section id="produtos">
        <br />
        <h1>Produtos</h1>
        <div class="row">
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Leite Piracanjuba</h4><br />
              <img src="./imagens/leite.jpg" alt="leite" class="port"></div></a>
          </div> 
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Salgadinho Doritos</h4><img src="./imagens/doritos.jpg" alt="doritos" class="port"></div></a>
          </div>
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Espinafre</h4><img src="./imagens/espinafre.jpg" alt="espinafre" class="port"></div></a>
          </div>
        </div>
        <br />
        <div class="row"> 
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Bolacha Toddy</h4><img class="port" src="./imagens/bolacha.jpg" class="port" alt="Bolacha"></div></a>
          </div>
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Melancia</h4><img class="port" src="./imagens/melancia.jpg" alt="torta de morango"></div></a>
          </div>
          <div class="col-sm-4">
            <a href="#" target="_blank"><div><h4 class="titulo-port">Folhado de Queijo</h4><img class="port" src="./imagens/folhado.jpg" alt="folhado" class="port"></div></a>
          </div>
        </div>
        <h5 style="text-align:right; padding-right: 1.4em;"><strong><a href="#">Ver mais >> </a></strong></h5>
      </section>

      <section id="sobre">
        <br />
        <h1>Sobre</h1>
          <p>Nosso aplicativo busca fazer parcerias com padarias e outros comércios, para que, 
          produtos que se estejam próximos a data de validade e que acabariam sendo descartados no lixo, 
          possam ir para a mesa dos consumidores. 
     
          <br />
          <br />
          Alimentos como doces, pães, bolos, entre outros, vendidos por um preço muito mais acessível. 
          A ideia é que a plataforma conecte padarias e outros comércios a consumidores que residam ou estejam próximos a eles.
          <br />
          <br />
          Os consumidores podem optar por receber os alimentos via delivery de acordo com a taxa de entrega estabelecida pelo comerciante, 
          ou indo pessoalmente retirar no estabelecimento escolhido e na hora agendada.
          <br />
          <br />
          Com o auxilio da plataforma Xeparia, será possível que os estabelecimentos parceiros consigam reduzir o desperdício de seus alimentos 
          e com isso reduzam as perdas financeiras que o desperdício acaba provocando.
          <br />
          <br />
          Os usuários poderão optar por alimentos doces, salgados ou mistos, de acordo com o que o estabelecimento fornecer no dia. Não será possível escolher o produto especificamente, apenas as categorias citadas acima, entre doce, salgado ou misto. O estabelecimento então irá separar os alimentos que estiverem disponíveis no dia, 
          de acordo com a categoria escolhida pelo consumidor.
          <br />
          <br />
          O mais importante para o sucesso da plataforma e do reconhecimento dos estabelecimentos parceiros é que os
           alimentos fornecidos sejam seguros, de qualidade e que estejam bons para o consumo, por isso, é muito importante 
           a avaliação do usuário quanto ao estabelecimento e aos produtos fornecidos.
          </p>
      </section>

      <section id="ajuda">
        <div>
          <br />
          <h2>Com o que podemos ajudar?</h2>
          <br />
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Administrar e cancelar compras
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                <p>Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Cevadis im ampola pa arma uma pindureta.Interagi no mé, cursus quis, vehicula ac nisi.Manduma pindureta quium dia nois paga.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Devoluções e reembolsos
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Cevadis im ampola pa arma uma pindureta.Interagi no mé, cursus quis, vehicula ac nisi.Manduma pindureta quium dia nois paga.</p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Pergutas frequentes sobre compras
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <p>Mussum Ipsum, cacilds vidis litro abertis. Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.Cevadis im ampola pa arma uma pindureta.Interagi no mé, cursus quis, vehicula ac nisi.Manduma pindureta quium dia nois paga.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
        <br />
      <footer>
        <p>Portfólio criado para Projeto Integrador para a matéria "2202-PROJETO INTEGRADOR: Criação de Minimum viable product" do curso de Tecnologia em Sistemas para Internet do <a href="https://ead.senac.br/">Senac</a>. São Paulo, 13/03/2023.</p>
      </footer>
          
    </div> <!-- Fecha Container -->
  </body>
</html>